:root {
    --dark-color: #333333;
    --light-color: #FFFFFF;
}

.light {
    --light-color: black;
    --dark-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark-color);
    font-family: 'Inter', sans-serif;
    color: var(--light-color);
}

section .container {
    max-width: 600px;
    margin: 0 auto;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .container .profile,
section .container .toggle,
section .container .links,
section .container .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

section .container .profile img {
    height: 120px;
    width: 120px;
    border: 3px solid var(--light-color);
    border-radius: 100px;
}

section .container .toggle {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

section .container .toggle button {
    width: 32px;
    height: 32px;
    background: var(--light-color);
    border-radius:  50%;
    border: 0;
    font-size: 20px;
    color: var(--dark-color);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.light section .container .toggle button {
    right: 0;
    left: initial;
}

section .container .toggle span {
    width: 64px;
    height: 24px;
    background: var(--dark-color);
    border: 1px solid var(--light-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

section .container .links a {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--light-color);
    border-radius: 5px;
    color: var(--light-color);
    font-weight: 500;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    width: 100%;
}

section .container .links a:hover {
    box-shadow:0 0 15px var(--light-color);
}

section .container .socials {
    display: flex;
    justify-content: center;
    gap: 8px;
}

section .container .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 24px;
    border-radius: 50%;
    padding: 16px;
    transition: .5s;
}

section .container .socials a:hover {
    background-color: var(--light-color);
    border-radius: 50%;
    color: var(--dark-color);
    padding: 16px;
}

section .container .copyright a {
    color: var(--light-color);
}